NODE_ENV="production"
GOOGLE_ACCESS_TOKEN=https://oauth2.googleapis.com/tokeninfo
FACEBOOK_ACCESS_TOKEN=https://graph.facebook.com/me
HASH_PASSWORD=rSuvmQ6aq7B37HYvTa
JWT_SECRET_KEY=rSuvmQ6aq7B37HYvTa
HASH_PASSWORD_CHAT=rSuvmQ6aq7B37HYvTa
PORT=3900
MONGODB_URI=mongodb+srv://dev:QkS4d36Oh4JA8kqN@ieltsdevsite.0tulziw.mongodb.net/edu_like
CORS_DATA=1,2
APP_PREFIX=api
GOOGLE_IAP_SERVICE_ACCOUNT='iap-117@pc-api-7924275067492003474-387.iam.gserviceaccount.com'
GOOGLE_IAP_SERVICE_PRIVATE_KEY="
-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC8iUWO9LTMyCY5
gFw2TxZ/V6RksBasSwXC+u5OH78W5jaAzlNspBIBaRA2M68e2X4Cz08OSiUMM+Eb
y3B0AnuHgEvb4xV2lHAFu7G1P/tp4NUuPS4A3y+1gtTJnTHvrzr3Fa95ibEA0Yvd
IIuD3zFaxfbNGOEEubXlTkyIbD3Z3JSTF2x4GB66Mgnl19gQpXa6h4Q7VhGT9TSL
ZuFgchOQmCsIjOwIwmuYWOIreF4CTnuQakMeLvgvNo31xugUdaF4mBp1M2lmZzfq
9TCnbfP+hhG0pzcqbAL3dpTkjGZPRZySiIxl5oYFrfSVyxz9Ji3xbBkr3bbwyvn1
59POt0tJAgMBAAECggEACQDuOTY+9yOczbSvUqmiu6iaEXPmVUqM5yOYI1N5SvTq
B+syiTbppDcZ/tinhYvh7Gzti9NnIwbMOolT4Lpon081cDYPRZcvpVpyEWORlFwY
GinySzjdXKf3lPxEkPt3j6qxs1ZrxUv8h64g84aCYyEemOtV/aWHxgBf/8jZiFCe
9i5PC73JvxdQugSxVZ38/p325nTvbstz/LoACFAwLkznNrt8GaSpNVDSF0mQx2b1
gPVWGDTUgrLctt3JcmhG2uKpVFgnz7+17DjIIXFCEKbs1d2nQmtOccbxD9KogekF
deFQ95yaF+wuOuP4My6eiut1iIphph/TSTWYFQDxwQKBgQD9aPI3iEFuWwOc0VPJ
9lIdautFcNNEAjezcr8j1PrMo9m117gjLZbx0vUBLHjNX91C3f1M9SFW3fHJfo5i
BKHvq2uqQHsQruqrCCq05PcsMYt/oC7f27ljb04lgp2npa5o/D12T/eC/38GXwsw
L5mB81n58h88L2BoBwkJAolDoQKBgQC+dpTrzrRbMQXpR6+FZZzQDJpCpFNpVJEB
PCfU6afyKjoceOW64QmqUZXnkmGcs7j8Aue7h6K51VaQq5xe3aW+q8d25GseYkDt
fftEJAOxf49bpD9RuAuREVFyxqAh77UmOLeE18iiAzIg5qKNj1aWJlriEBi5vNu4
o9pfL/fmqQKBgBw2EsEb6ize9QgARdO2GG4t+QNCDEMF/C1+GMlkbIdbtmEIIvfH
m4ZQdfYrfUdf5MIM9KYcpBmHm+NSs4c1/NExxEqv4wN4daeUwSxiUSIaYe1TZ+SE
EZ+ARLLoV6TSTRhi/HSvcl6jEwEik5xJsE1HSj0JN3D71T+/iMH4BlABAoGBALXx
9cVmCyjqJel5z5SxQyIESADNldkTLgpt+ucL5qIR8L1uSJdDjsYjdf5n+dOGZHpq
FBEzOyInSLCfH5wIRONmmf9bqXC3D6tQJA4uEVEouDwlJU/dbz8/ufzY/fQtV3GR
0M6YjFMolmSTrklo2qBJN5ypH9WfMo6qCFvSKRExAoGBAOJz9ixFLtRJ9Tg5ZSz6
IbjYlD78d2v71pm4PK6AdpHNwzonwlOBf65GhQI5yhWOA5q8YzoDS0uZlV2m/Y2H
5At0WEu7XNmeySYxZt2EPfxJ/D1thxXVETgnsGj0FE45TO3UhI1nhr9PN5IrsVNF
RoNgWPMl+AVLQK+Eh6SUjo6G
-----END PRIVATE KEY-----"
FIREBASE_SEND_NOTIFICATION_KEY=AAAA__duVH8:APA91bGHsTSKDLmb51YFVKCuNAZ6R9uzf_BhL7Czkj1l0D-c4XOs1qHfNwOXCnOQW1_NQMXfcCPUmmNBvhgdPeEQKkdo9comWSOOJw-v6nDMOLm7-LjiF9fPB7oScJh-AuCGcZp6tl5r
GOOGLE_RECAPTCHA_KEY=6LcNTaghAAAAACiwl8NVNYMSSLluiQGF-p0z0_uB
CERT_PEM=/Users/macmini/nodejs/lgbt-q/cert.pem
KEY_PEM=/Users/macmini/nodejs/lgbt-q/key.pem
CERT_PEM_NOTIFICATION=/Users/macmini/nodejs/lgbt-q/cert_noti.pem
KEY_PEM_NOTIFICATION=/Users/macmini/nodejs/lgbt-q/key_noti.pem
APN_PRODUCT=false
USE_APN_MESSAGE=false
FREE_CHAT=10
SOCKET_SERVICE_HOST=https://socket.api-v2.ieltshunter.io
INFO_USER=6331de50394dbf50eedb4242
INFO_SESSION=6347db15d35800d013a87d7a
API_URL_DETECT=https://faceapi.mxface.ai/api/v2/face/
TOTAL_FACE_DETECT=4
BUNDLE_NAME_VOIP=com.iceo.lgbt.whiteg.voip
BUNDLE_NAME_NOTIFICATION=com.iceo.lgbt.whiteg
BRANCH_NAME="chat_law"
INFO_USER_PREMIUM=634e8f8998db34079a12aefa
APPLE_VERIFY_PURCHASE=https://buy.itunes.apple.com/verifyReceipt
APPLE_SUBSCRIBE_SHARED_SECRET=158f9a8e8a3249528853f410dd48ca7c
IPINFO_TOKEN=23767455d40353,c04b1f7fb019cc
FACE_COMPARE_URL=
GENDER_URL=https://face-compare.whiteg.app/gender
FACE_COMPARE_KEY=sP38uPR9SpaC9EchlB
LIVESTREAM_URL=https://sensei.appuni.io
CHAT_GPT_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MzIzMzM5MDgsImRhdGEiOnsiX2lkIjoiNjRkODc2M2Y1NjUxMTAxOWJlZTEyM2U4Iiwia2V5IjoiNWNjN2YzZmQ1ODVkNzBmZmI3YmYxZTRmMGI1ZDE5OTAiLCJzaWduYXR1cmUiOiJlOTk2OTkyYzU3N2YyZjQwOWQyMGEwZDYyYTBhZGRlZiIsInNlc3Npb24iOiI2NTYwMWRkNGI5ZDlhNTIyNTc5ZjljZDkifSwiaWF0IjoxNzAwNzk3OTA4fQ.yqL1Ta-I-qPb0Mmgejy2cZsnaHmt0PRtWobFxXcmFwQ
CHAT_GPT_URL=https://gpt.gamifa.vn/api/chat/completions
RECAPTCHA_DEFAULT=smRY9k7cjMACBJSeVEj6E3VgqKe858gnAmBRQQNS
FORGOT_PASSWORD_URL=https://education-api.iceo.tech/api/user/process-password
DEFAULT_CHANNEL=64c78635b138bef7ad6811c5
BACKEND_API=https://education-api.iceo.tech/api
VNPAY_TMNCODE=IELTSHU1
VNPAY_SECRET_KEY=WSNUSCORRTUONSBOAKCAYBTWFYFZWCCB
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3900/api/order/vnpay_return
ORDER_RETURN_URL=
REDIS_PORT=6379
REDIS_HOST=localhost
FRONTEND_URI=https://ieltshunter.io
GOOGLE_FIREBASE_KEY=AIzaSyCD9MnjFHpq-v0Jj-2wqigh7RuqwvMBGeg
EMAIL_SERVICE_HOST=http://localhost:4001
RTMP_URL=rtmp://broadcast.ieltshunter.io:1935/live
M3U8_URL=https://live.ieltshunter.io/hls/[code].m3u8
APP_NAME="ieltshunter"
GOOGLE_APPLICATION_CREDENTIALS=google-service-account.json
HUGGING_FACE_API_KEY=
JUNBRO1016_PRONUNCIATION_SCORING_FLUENCY=https://api-inference.huggingface.co/models/junbro1016/pronunciation-scoring-fluency
JUNBRO1016_PRONUNCIATION_SCORING_COMPLETENESS=https://api-inference.huggingface.co/models/junbro1016/pronunciation-scoring-completeness