<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vuejs-datepicker@1.6.2/dist/vuejs-datepicker.min.js"></script>
</head>

<div id="app">
  <div class="">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a :class="(status === 'country')?'nav-link active':'nav-link'" v-on:click="clickChange('country')" href="#"
              aria-current="page">Country</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" :class="(status === 'esim')?'nav-link active':'nav-link'"
              v-on:click="clickChange('esim')">ESIM</a>
          </li>
        </ul>
      </header>

      <div class="mt-4" v-if="status == 'country'">

        <div class="container">
          <div class="row">
            <div class="col-8">
              <div class="card-body">
                <h1 class="h2 mb-3 font-weight-normal">User E-mail list</h1>

                <a class="mb-2" style="color: red; cursor: pointer; user-select: none;" v-if="filterData"
                  v-on:click="handleRemoveFilter()">Xoá bộ lọc</a>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Email</th>
                      <th scope="col">Full name</th>
                      <th scope="col">Country</th>
                      <th scope="col">List Name</th>
                    </tr>
                  </thead>
                  <tbody v-for="(item, index) in countryList" :key="'data_user' + index">
                    <tr>
                      <th scope="row">{{index + 1}}</th>
                      <td>{{item.user_email}}</td>
                      <td>{{item.display_name}}</td>
                      <td>{{item.country}}</td>
                      <td>{{handleGetGroup(item.group_id)}}</td>
                    </tr>
                  </tbody>

                </table>
                <div class="card text-center pt-1 pb-1 mb-4">
                  <a href="#" v-on:click="loadMore">Load more</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="">
                <p class="h2">Filter & Group</p>
                <label for="name" class="w-100 text-left mt-2">Country</label>
                <input type="text" name="name" class="form-control" placeholder="Country ISO-2" required="" autofocus=""
                  v-model="countryFilter">

                <label for="name" class="w-100 text-left mt-2">ID</label>
                <input type="text" name="name" class="form-control" placeholder="ID User" required="" autofocus=""
                  v-model="idFilter">

                <button class="btn btn-sm btn-primary btn-block mt-2" v-on:click="handleFilter()">
                  Add Filter
                </button>


                <!-- <label for="subject" class="w-100 text-left mt-2">Subject</label>
                <input type="text" name="subject" class="form-control" placeholder="Subject" required=""
                  v-model="dataSubject">
                <label for="template" class="w-100 text-left mt-2">Data Template</label>
                <textarea type="text" name="template" class="form-control" placeholder="E-mail template (HTML code)"
                  required="" rows="10" v-model="dataTemplate"></textarea>
                <label for="template" class="w-100 text-left mt-2">Choose status</label>
                <select class="form-select w-100 form-select-sm mb-3" aria-label="Default select example"
                  id="select_status" required="" v-model="dataStatus">
                  <option value="enable" selected="">Enable</option>
                  <option value="disable">Disable</option>
                </select>
                <div class="" v-if="statusEdit">
                  <button class="btn btn-sm btn-primary btn-block mt-0" v-on:click="handleClickSaveEsim()">
                    {{(statusEdit == 'edit')?'Update Template':'Create new Template'}}
                  </button>
                </div>


                <a href="#" class="mt-8 mr-2" id="handle_cancel_update" v-if="statusEdit == 'edit'"
                  v-on:click="handleResetData">Cancel Update</a> -->
              </div>
              <hr />

              <label for="name" class="w-100 text-left mt-2">Choose User Group</label>

              <select class="form-select" aria-label="Default select example" v-model="campaignGroup">
                <option value="">Select User group</option>
                <option value="1" v-for="(item, index) in countryListGroup" :key="'option_group_' + index"
                  :value="item._id">
                  {{item.group_name}}</option>
              </select>

              <button class="btn btn-sm btn-primary btn-block mt-2" v-on:click="addGroupToFilter()">
                Add Group To Filter
              </button>

            </div>
          </div>
        </div>

      </div>



      <div class="mt-4" v-if="status == 'esim'">

        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="card-body">

                <h1 class="h2 mb-3 font-weight-normal">Input ESIM</h1>

                <table class="table table-bordered">
                  <thead style="border-radius: 10px">
                    <tr>
                      <th scope="col">Cover</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Country</th>
                      <th scope="col">Data</th>
                      <th scope="col">Validity</th>
                      <th scope="col">Edit</th>
                    </tr>
                  </thead>
                  <tbody id="data_body">
                    <tr v-for="(item, index) in esimList" :key="'template-id-' + index">
                      <td><img width="80px" style="border-radius: 12px;" :src="item.avatar?.media_url" /></td>
                      <td>{{item.name}}</td>
                      <td>${{item?.plan_id?.price}}</td>
                      <td>{{item.country?.name}}</td>
                      <td>{{(item.data_number > 0)?item.data_number:'Unlimited'}} GB</td>
                      <td>{{item.validity_number}} days</td>
                      <td><a class="click_to_edit" v-on:click="handleEditEsim(item)" href="#"
                          style="color: blue; cursor: pointer">Edit</a></td>
                    </tr>

                  </tbody>
                </table>
                <div class="card text-center pt-1 pb-1 mb-4" v-if="isLoadMoreEsim">
                  <a href="#" v-on:click="loadMoreEsim">Load more</a>
                </div>
                <p class="mt-5 mb-3 text-muted">© 2023 ICEO</p>
              </div>
            </div>
            <div class="col-6">
              <div class="">
                <p class="h2">Edit/Create ESIM</p>
                <label for="name" class="w-100 text-left mt-2">Event name</label>
                <input type="text" name="name" class="form-control" placeholder="Event name" required="" autofocus=""
                  v-model="dataName">
                <label for="subject" class="w-100 text-left mt-2">Subject</label>
                <input type="text" name="subject" class="form-control" placeholder="Subject" required=""
                  v-model="dataSubject">
                <label for="template" class="w-100 text-left mt-2">Data Template</label>
                <textarea type="text" name="template" class="form-control" placeholder="E-mail template (HTML code)"
                  required="" rows="10" v-model="dataTemplate"></textarea>
                <label for="template" class="w-100 text-left mt-2">Choose status</label>
                <select class="form-select w-100 form-select-sm mb-3" aria-label="Default select example"
                  id="select_status" required="" v-model="dataStatus">
                  <option value="enable" selected="">Enable</option>
                  <option value="disable">Disable</option>
                </select>
                <div class="" v-if="statusEdit">
                  <button class="btn btn-sm btn-primary btn-block mt-0" v-on:click="handleClickSaveEsim()">
                    {{(statusEdit == 'edit')?'Update ESIM':'Create new ESIM'}}
                  </button>
                </div>
                <hr />

                <a href="#" class="mt-8 mr-2" id="handle_cancel_update" v-if="statusEdit == 'edit'"
                  v-on:click="handleResetData">Cancel Update</a>
              </div>

            </div>
          </div>
        </div>
        <div aria-live="polite" aria-atomic="true" style="position: relative; display: block; min-height: 200px;"
          v-if="enableToastEsim">
          <div class="toast" style="position: fixed; top: 20px; right: 20px; display: block;">
            <div class="toast-header">
              <strong class="mr-auto">Lưu template thành công!</strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" style="right: 10px;
              float: right;
              position: absolute;
              border: 0;
              border-radius: 10px;">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              Đã lưu template thành công trên Server
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="module">
  var app = new Vue({
    el: "#app",
    data: {
      status: "esim",
      authCode: "",
      countryList: [],
      countryPage: 1,

      dataTemplate: "",
      dataName: "",
      dataSubject: "",
      dataStatus: "enable",
      esimData: {
        service_id: "",
        amount_of_day: 0,
        price: 0,
        options: [],
        name: "",
        avatar: "",
        description: "",
        data_number: 0,
        validity_number: 0,
        country: "",
        supported_countries: [],
        network: [],
        plan_type: "",
        activation_policy: "",
        eKYC: "",
        top_up_option: "",
        language: "",
        version: "",
      },
      esimPage: 1,
      esimList: [],
      statusEdit: "create",
      dataIdEdit: '',
      enableToastEsim: false,
      isLoadMoreEsim: true,

      countryFilter: "",
      idFilter: "",
      startDate: new Date(),
      filterData: ""
    },
    components: {
      vuejsDatepicker
    },
    watch: {
      // whenever question changes, this function will run
      startDate(newData, oldData) {
        // console.log(new Date(newData), 'newData')
      },
      status(newStatus, oldStatus) {
        if (newStatus === 'esim') {
          this.esimList = [];
          this.handleGetEsimList(1, 20)
        }
        if (newStatus === 'country') {
          this.countryList = [];
          this.handleGetCountryList(1, 20, this.filterData)
        }
      }
    },
    created: function () {
      try {
        let authCode = localStorage.getItem("session");
        this.authCode = authCode;
        // let dataQuery = this.$route.query?.page_type;
        // this.status = dataQuery;
      } catch (error) {
        this.authCode = '';
      }
      this.esimList = [];
      // this.handleGetUserGroupList(1, 50);
      this.handleGetEsimList(1, 20);
    },
    methods: {
      handleFilter() {
        let dataFilter = {
        };
        if (this.idFilter) {
          dataFilter = { ...dataFilter, ...{ ids: this.idFilter } }
        }
        if (this.countryFilter) {
          dataFilter = { ...dataFilter, ...{ country: this.countryFilter } }
        }

        let objectLength = Object.keys(dataFilter).length;
        if (!objectLength) {
          alert("Vui lòng điền thông tin Filter!");
          return false;
        }

        let dataJSON = JSON.stringify(dataFilter);
        this.filterData = dataJSON;
        this.countryList = [];
        this.countryPage = 1;
        this.handleGetCountryList(1, 20, dataJSON);
      },
      handleGetGroup(dataGroup) {
        let dataString = [];
        if (dataGroup?.length) {
          for (let item of dataGroup) {
            dataString.push(item.group_name);
          }
        }
        return dataString.toString(" - ");
      },
      addGroupToFilter() {
        let dataFilter = {
        };
        if (this.idFilter) {
          dataFilter = { ...dataFilter, ...{ _id: this.idFilter } }
        }
        if (this.countryFilter) {
          dataFilter = { ...dataFilter, ...{ country: this.countryFilter } }
        }

        let objectLength = Object.keys(dataFilter).length;
        if (!objectLength) {
          alert("Vui lòng điền thông tin Filter!");
          return false;
        }
        let dataJSON = JSON.stringify(dataFilter);
        if (!this.campaignGroup) {
          alert("Vui lòng chọn Group để thêm user vào!");
          return false;
        }
        let dataToUpdate = {
          group_id: this.campaignGroup,
          data_filter: dataJSON
        }

        let config = {
          headers: {
            "X-Authorization": this.authCode
          }
        }

        let templateCreate = `user/update-user-group`;
        axios.patch(templateCreate, dataToUpdate, config).then((response) => {
          // console.log(response);
          // this.esimList = [];
          // this.handleGetEsimList(1, 20);
          // this.esimPage = 1;
          // this.handleResetData();
          // this.enableToastEsim = true;
          // setTimeout(() => {
          //   this.enableToastEsim = false;
          // }, 2000);
          this.filterData = dataJSON;
          this.countryList = [];
          this.countryPage = 1;
          this.handleGetCountryList(1, 20, dataJSON);
        }).catch(error => {
          console.log(error);
        });
      },
      handleRemoveFilter() {
        this.dataFilter = "";
        this.countryPage = 1;
        this.countryList = [];
        this.countryFilter = "";
        this.idFilter = "";
        this.handleGetCountryList(1, 20, this.dataFilter);
      },
      handleClickSaveEsim() {
        if (!this.dataName || !this.dataSubject || !this.dataTemplate) {
          alert("Vui lòng nhập đủ thông tin!");
          return false;
        }

        let dataToCreate = {
          name: this.dataName,
          subject: this.dataSubject,
          template: this.dataTemplate,
          status: this.dataStatus
        }
        let templateCreate = `template/create`;

        let config = {
          headers: {
            "X-Authorization": this.authCode
          }
        }
        if (this.statusEdit === 'edit') {
          templateCreate = `template/update`;
          dataToCreate = { ...dataToCreate, ...{ _id: this.dataIdEdit } }

          axios.patch(templateCreate, dataToCreate, config).then((response) => {
            // console.log(response);
            this.esimList = [];
            this.handleGetEsimList(1, 20);
            this.esimPage = 1;
            this.handleResetData();
            this.enableToastEsim = true;
            setTimeout(() => {
              this.enableToastEsim = false;
            }, 2000);
          }).catch(error => {
            console.log(error);
          });
        } else {
          axios.post(templateCreate, dataToCreate, config).then((response) => {
            // console.log(response);
            this.esimList = [];
            this.handleGetEsimList(1, 20);
            this.esimPage = 1;
            this.handleResetData();
            this.enableToastEsim = true;
            setTimeout(() => {
              this.enableToastEsim = false;
            }, 2000);
          }).catch(error => {
            console.log(error);
          });
        }
      },

      handleResetData() {
        this.dataName = "";
        this.dataSubject = "";
        this.dataTemplate = "";
        this.dataStatus = "enable";
        this.statusEdit = 'create';
      },
      handleEditEsim(item) {
        this.dataName = item.name;
        this.dataSubject = item.subject;
        this.dataTemplate = item.template;
        this.dataStatus = item.status;
        this.dataIdEdit = item._id;
        this.statusEdit = 'edit';
      },

      handleGetEsimList(page, limit = 20) {
        let config = {
          headers: {
            "X-Authorization": this.authCode
          }
        }
        let esimListUrl = `list?page=${page}&limit=${limit}&order_by=DESC`;
        axios.get(esimListUrl, config).then((response) => {
          // console.log(response?.data);
          this.esimList = [...this.esimList, ...response.data];
          if (Number(response?.data?.length) < Number(limit)) {
            this.isLoadMoreEsim = false;
          } else {
            this.isLoadMoreEsim = true;
          }
          return response;
        }).catch(error => {
          console.log(error);
        });
      },
      clickChange(dataChange) {
        // router.push({ query: { page_type: dataChange }})
        //this.$route.replace({ query: {page_type: dataChange} })
        this.status = dataChange;
      },
      loadMore() {
        this.countryPage = this.countryPage + 1;
        this.handleGetCountryList(this.countryPage, 20, this.filterData);
      },
      loadMoreEsim() {
        this.esimPage = this.esimPage + 1;
        this.handleGetEsimList(this.esimPage, 20);
      },
      async handleGetCountryList(page, limit = 20, dataFilter) {
        let config = {
          headers: {
            "X-Authorization": this.authCode
          }
        }
        let urlUserList = `user/list/base?page=${page}&limit=${limit}&order_by=DESC`;
        if (dataFilter) {
          let dataFilterObject = JSON.parse(dataFilter);
          let filterString = new URLSearchParams(dataFilterObject).toString();
          urlUserList = urlUserList + '&' + filterString;
        }
        axios.get(urlUserList, config).then((response) => {
          // console.log(response?.data);
          this.countryList = [...this.countryList, ...response.data]
          return response;
        }).catch(error => {
          console.log(error);
        });

        // const todoItems = response.data;
        // console.log(`GET: Here's the list of todos`, todoItems);
        // return todoItems;
      }
    },
  });
</script>
